body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
header{
    background-color: #FFD900;
    width: auto;
    height: 60px;
    padding: 25px 0px 5px 40px;
}
#sec1{
    display: grid;
    grid-auto-flow: column;
}
#countDown{
    display: grid;
    grid-auto-flow: column;
    color: #514988;
    font-size: 38px;
    font-weight: 700;
    height: 80px;
    width: 200px;
    margin-left: 20px;
}
#Introducao{
    background-color: #514988;
    padding: 25px 30px 45px 30px;
    text-align: center;
}
#tituloInt{
    color: #F3C61F;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 0%;
}
#textoInt{
    color: #FFF;
    font-size: 23px;
    font-weight: 100;
}
#subtituloInt{
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    padding-bottom: 25px;
}

#sec2{
    display: grid;
    grid-auto-flow: column;
}
    #sec2 p{
        color: #F3C61F;
        font-size: 23px;
        font-weight: 700;
        text-align: left;
        margin-left: 70px;
    }
button{
    width: 480px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background: #514988;
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
    margin-top: 90px;
}
    button:hover{
        cursor: pointer;
        color:#F3C61F;
    }
#Timer{
    margin-left: 10px;
}
#subtituloTimer{
    color: #E33881;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    text-align: left;
    margin-left: 20px;
}
#imagens{
    margin-left: 70px;
}
.cd{
    padding-right: 35px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.card-highlight{
    box-shadow: 10px 10px 10px 10px grey;
}
.card-selected{
    border: 5px solid green;
}
input{
    background-color: #514988;
    border-radius: 10px;
    color: #FFF;
    border: 0pt;
    margin: 25px;
    width: 320px;
    height: 55px;
    font-size: 25px;
}
#form{
    background-color: #F3C61F;
    margin-top: 45px;
}